$gold: #FFD700;
$grey: #666;
$blue: #004e99;
$orange: #f07122;
$white: #FFF;

h1{
  font-size: 32px;
  color: $orange;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 22px;
}
h4{
  font-size: 18px;
}

a, p, span{
  font-size: 16px;
  font-family: Arial;
}

#app-layout{
  background: url("/img/background/back_main_page.jpg") center no-repeat;
  background-size: cover;

  .navbar-default{
    background-color: $blue;
    a {
      padding: 20px;
      color: $white;
      font-size: 18px;
      font-weight: 500;
      &:hover{
        background-color: $white;
        color: $blue;
      }
    }
    li.active{
      a{
        background-color: $white;
        color: $blue;
      }
    }
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
  .header-col {
    .brand_img {
      height: 100px;
    }
  }

}
.location,.work, .contacts{
  //margin: 10px;
  text-align: center;
  >p{
    text-transform: uppercase;
    color: $grey;
    //    text-shadow:  1px 2px 2px #666;
    font-weight: bold;
    //text-align: center;
    //      border-bottom: 1px dashed;

  }
  div{
    //border: 1px dashed $gold;
    padding: 5px;
    span{
      font-weight: bold;
    }
  }
  p{
    margin-bottom: 0;
  }

}
.contacts{
  div{
    background: url("/img/icons/phone.png") left no-repeat;
    background-size: 45px;
    padding: 5px 0;
    >p{
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: left;
      span{
        padding-left: 30px;
      }
      span:first-child{
        padding-left: 60px;
      }
    }
  }
}




@media (max-width: 1600px){
  .contacts {
    > p {
      span {
        display: inline-block;
        padding-left: 60px;
      }
    }
  }

}
//@media (max-width: 1200px){
//
//
//}
//
//@media (max-width: 1024px){
//
//    p{
//      padding: 10px;
//    }
//}

